# AxonX

# Tushare
AXONX_TUSHARE_TOKEN=your-token
# AXONX_TUSHARE_BASE_URL=http://api.waditu.com/dataapi

# DingTalk application robot
DINGTALK_CLIENT_ID=your-client-id
DINGTALK_CLIENT_SECRET=your-client-secret
DINGTALK_CONVERSATIONS={"default":"your-open-conversation-id"}
